div.Item {
  margin: 2px;
  display: flex;
  padding: 1rem 2rem;
  list-style-type: none;
  flex-direction: column;
  background-color: #f2f2f2;

  img {
    width: 80%;
    min-width: 158px;
    padding: 1rem 0 2rem;
    transition: filter 0.5s;
    mix-blend-mode: multiply;
  }

  img:hover {
    filter: brightness(1.5);
  }

  a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:first-of-type {
    text-align: center;
  }

  a:last-of-type {
    height: 48px;
  }

  span {
    font-size: 14px;
    font-weight: 600;
    padding: 2rem 0 1.5rem;
  }
}
